* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0;
}
header {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background: rgba(128, 128, 128, 0.085);
  /* border-top: 5px solid black; */
  padding-top: 10px;
  position: relative;
}
/* body {
  border-right: 5px solid black;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
} */
#free {
  color: grey;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
}

a:visited {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  text-decoration: none;
  color: black;
}
.cart {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  border-top: 4px solid black;
}

.cart:hover {
  color: black;
  background-color: white;
}
#dollar {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
}

.image {
  margin-bottom: 1px;
}
.product {
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 15px;
  display: flex;
}
.list li {
  margin-bottom: 20px;
}

.container {
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.main-head::after {
  content: "SALE";
  font-size: 12px;
  color: white;
  background-color: rgb(236, 47, 47);
  display: inline-block;
  position: absolute;
  padding: 7px 12px;
  left: -30px;
  top: -18px;
  letter-spacing: 2px;
  font-family: sans-serif;
}
.color {
  background-color: black;
  height: 20px;
  width: 20px;
  display: inline-block;

  margin-right: 15px;
}
.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}
/* .color-blue {
  background-color: blue;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.color-red {
  background-color: red;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.color-yellow {
  background-color: yellow;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.color-green {
  background-color: green;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.color-brown {
  background-color: brown;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 15px;
} */
/* FLOATS */
