body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: auto;
  background-color: #f8f8f8; /* Light background for the entire page */
}
.container {
  background-color: #6a1b9a;
  padding: 10px 50px;
  position: relative;
  text-align: center;
  color: white;
}

.main-header {
  font-family: sans-serif;
  font-size: 2em;
  display: block;
  /* background-color: #6a1b9a;*/
  /* color: white; */

  /* padding: 50px 50px; */
}

/* .links {
  position: absolute;
  margin-left: 300px;
  color: white;
  text-decoration: none;
  display: ;
} */
/* nav a:link {
  margin-right: 30px;
  display: inline;
  margin-top: 10px;

  margin: 20px;
  padding: 20px;
  margin-left: 150px;
  margin-right: 10px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
} */
a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
  margin-right: 30px;
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 15px;
}
article {
  margin-left: 5px;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 0.4px solid #666666;
}
article h2 {
  color: black;
  margin-bottom: 10px;
}
article p {
  color: #666666;
  line-height: 1.6;
  margin-bottom: 20px;
}
main {
  margin: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: #6a1b9a;
  padding: 50px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
